@use "../custom" as *;

.dashboard {
  // margin-left: 18vw;
  flex: 5;
  padding: 2rem;
  height: 100%;
  background: $dark;

  .grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    margin-top: 2rem;

    .row-b {
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      height: 50%;
    }
  }

  @media screen and (min-width: 280px) and (max-width: 1080px) {
    margin-left: 0;
    .mesh {
      .row-a,
      .row-b {
        grid-template-columns: 1fr;
      }
    }
  }
}
