@use "custom" as *;

// Card Style MIXIN
@mixin card {
  padding: 1rem 2rem 3rem 2rem;
  border-radius: 1rem;
  background-color: #212121;
  color: white;
}

// // ABSOLUTE CENTER
// @mixin absoluteCenter {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// // TRANSITION PROPERTY
// @mixin transitionProperty {
//   transition-duration: 1s;
//   transition-property: all;
// }
